figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.clj-kondo/.cache/
.repl
.nrepl-port
node_modules/
yarn.lock
.cpcache/
.shadow-cljs/
resources/public/dist/**
resources/public/js/main/**
.clj-kondo